@import "tailwindcss";

@theme {
  /* Colors - Verde */
  --color-verde-50: #F0FDF4;
  --color-verde-100: #DCFCE7;
  --color-verde-200: #BBF7D0;
  --color-verde-300: #86EFAC;
  --color-verde-400: #4ADE80;
  --color-verde-500: #22C55E;
  --color-verde-600: #16A34A;
  --color-verde-700: #15803D;
  --color-verde-800: #166534;
  --color-verde-900: #14532D;

  /* Colors - Cinza */
  --color-cinza-50: #F9FAFB;
  --color-cinza-100: #F3F4F6;
  --color-cinza-200: #E5E7EB;
  --color-cinza-300: #D1D5DB;
  --color-cinza-400: #9CA3AF;
  --color-cinza-500: #6B7280;
  --color-cinza-600: #4B5563;
  --color-cinza-700: #374151;
  --color-cinza-800: #1F2937;
  --color-cinza-900: #111827;

  /* Font Family */
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-cinza-50);
    color: var(--color-cinza-900);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}